.html{
    box-sizing:  border-box;
}
*,*:before,  *:after{
    box-sizing: inherit;
}
body{
    font-family:'source sans pro', sans-serif;
    line-height:1.5;
    /* background:#F2F2F2; */
    color:#323232;
    }

    .welcome-text {
        padding: 10px;
    }

    .more-button {
        background: #ea5b95;
        color: #ffff;
        padding: 10px;
        border-radius: 4px;
        box-shadow: none;
        margin: 10px;
    }

    .welcome-text  h2{
        text-align: center;
    }

    .nav-bg {
        background: #ea5b95;
    }

    .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.7);
    }

 .welcome-text  p{
     text-align: center;
     color: #504e4e;
     font-size: 16px;
 }
section{
    display: flex;
	border-bottom:1px solid lightgray;
    align-items: center;
    justify-content: center;
}

 .profile-image-container {
    flex: 0 0 400px;
    order: 1;
 }

 .descriprion {
     flex: 1 1 auto;
     order: 1;
 }


 .profile-image{
     width: 95%;
 }


 @media screen and (max-width :800px){
        section{
            /* max-width: 80%; */
            flex-wrap: wrap;
        }

        .container {
            padding-right: 0;
            padding-left: 0;
        }

         .profile-image-container {
            flex: 1 1 100%;
            padding: 10px;
            order: 1;
        }

        .descriprion {
            flex: 1 1 100%;
            order: 2;
            padding: 10px;
        }


        .navbar-toggler-icon{
            max-width: 100%;
        }
}
